@model Prkn.UI.Web.Models.ViewModels.CustomerEdit
@using Prkn.Common.Enums;
@{
    ViewBag.Title = Model.HeaderTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_ModalEdit")

@if (Model.ModalStatus == "insert" || Model.ModalStatus == "update" || Model.ModalStatus == "delete")
{
    <script type="text/javascript">
    $(document).ready(function () {
        $("#modal-edit").modal("show");
    });
    </script>
}

<!--Üst Kısım Veri Griş Bölümü-->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        @using (Html.BeginForm(Model.FromRoute, Model.FromController, FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {

            <div class="row">

                <!-- left column -->
                <!--SAĞ TARAF KOMPLE-->
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            @*<h3 class="card-title">Different Height</h3>*@
                        </div>
                        <div class="card-body">

                            <div class="row">

                                <!-- Profile Image -->
                                <div class="col-md-2">
                                    <div class="card card-primary card-outline">
                                        <div class="card-body box-profile">
                                            <div class="text-center">
                                                @if (Model.Prm.Pic==null || Model.Prm.Pic=="")
                                                {
                                                    Model.Prm.Pic = "~/Content/dist/img/Customer_Image/Logo_Yok.png";
                                                }
                                                <img class="profile-user-img img-fluid img-circle"
                                                     src="@Url.Content(Model.Prm.Pic)"
                                                     alt="User profile picture">
                                            </div>

                                            <h3 class="profile-username text-center text-uppercase">@Model.Prm.Name</h3>

                                            <p class="text-muted text-center">-SEKTÖR-</p>

                                            <ul class="list-group list-group-unbordered mb-3">
                                                <li class="list-group-item">
                                                    <div class="form-group row">
                                                        <label for="inputName" class="col-sm-5 col-form-label float-left">Puan :</label>
                                                        <div class="col-sm-5">
                                                            @Html.TextBoxFor(m => m.Prm.Score, new { @type = "number", @class = "form-control", @min = "0", @max = "10", @id = "score" })
                                                            @Html.ValidationMessageFor(m => m.Prm.Score)
                                                            <!--<input type="number" class="form-control" value="2" />-->
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <label class="col-form-label float-right">/10</label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <input class="btn btn-primary btn-block" type="file" name="ImageFile" />
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                </div>
                                <!-- /.card -->

                                <div class="col-md-5">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Prm.Name, new { @type = "text", @class = "form-control", @placeholder = "Müşteri Şirket Adını Giriniz...", @id = "customername", @required = "" })
                                        @Html.ValidationMessageFor(m => m.Prm.Name,"",new {@class = "text-danger" })
                                    </div>
                                    <div class="form-group">

                                        @Html.DropDownListFor(m => m.Prm.CustomerTypeId, new SelectList(Model.CustomerType, "Id", "Name"), "-Müşteri Türü Seçiniz-", new { @class = "dropdown form-control", @id = "CustomerTypeSelect", @required="" })
                                    </div>

                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Prm.Code, new { @type = "text", @class = "form-control", @placeholder = "Kod Adını Giriniz...", @id = "code", @required = "" })
                                        @Html.ValidationMessageFor(m => m.Prm.Code)
                                    </div>
                                    <div class="form-group">
                                        @Html.DropDownListFor(m => m.Prm.ZoneId, new SelectList(Model.Zone, "Id", "Name"), "-Bölge Seçiniz-", new { @class = "dropdown form-control", @id = "ZoneSelect", @required = "" })

                                    </div>
                                    <!-- Adres Bölümü -->
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Prm.Address, new { @class = "form-control", @row = "2", @placeholder = "Adres...", @id = "adres" })
                                        @Html.ValidationMessageFor(m => m.Prm.Address)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Prm.Maps, new { @type = "text", @class = "form-control", @placeholder = "Harita Linki...", @id = "maplink" })
                                        @Html.ValidationMessageFor(m => m.Prm.Maps)

                                    </div>
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Prm.Info, new { @class = "form-control", @row = "4", @placeholder = "Detaylı Bilgi...", @id = "info" })
                                        @Html.ValidationMessageFor(m => m.Prm.Info)
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <!-- Telefon 1 -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Prm.Phone1, new { @type = "text", @class = "form-control", @placeholder = "Telefon 1 Giriniz...", @id = "phonenumber1", @data_inputmask = "'mask': '(999) 999-9999'", data_mask="", @required = "" })
                                            @Html.ValidationMessageFor(m => m.Prm.Phone1)
                                        </div>
                                    </div>
                                    <!-- Telefon 2 -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Prm.Phone2, new { @type = "text", @class = "form-control", @placeholder = "Telefon 2 Giriniz...", @id = "phonenumber2", @data_inputmask = "'mask': '(999) 999-9999'", data_mask = "" })
                                            @Html.ValidationMessageFor(m => m.Prm.Phone2)
                                        </div>
                                    </div>
                                    <!-- Fax -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-fax"></i></span>
                                            </div>
                                            @Html.TextBoxFor(m => m.Prm.Fax, new { @type = "text", @class = "form-control", @placeholder = "Fax Giriniz...", @id = "fax", @data_inputmask = "'mask': '(999) 999-9999'", data_mask = ""})
                                            @Html.ValidationMessageFor(m => m.Prm.Fax)
                                        </div>
                                    </div>

                                    <!-- Açıklama Bölümü -->
                                    <div class="form-group">
                                        @Html.TextAreaFor(m => m.Prm.Comment, new { @class = "form-control", @row = "2", @placeholder = "Açıklama Giriniz...", @id = "txt_offerComment" })
                                        @Html.ValidationMessageFor(m => m.Prm.Comment)
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Prm.Keyword, new { @type = "text", @class = "form-control", @placeholder = "Anahtar Kelime Giriniz...", @id = "Keyword" })
                                        @Html.ValidationMessageFor(m => m.Prm.Keyword)
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-4 col-form-label">Bölüm/Fabrika/Şube Adı:</label>
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.CustomerSectionName, new { @type = "text", @class = "form-control", @id = "customersection" })
                                            @Html.ValidationMessageFor(m => m.CustomerSectionName)
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(model => model.Prm.Id);
            @Html.HiddenFor(model => model.IslemTuru);
            @Html.HiddenFor(model => model.HeaderTitle);
            @Html.HiddenFor(model => model.FromRoute);
            @Html.HiddenFor(model => model.FromController);
            @Html.HiddenFor(model => model.Prm.Pic);
            <!--/.col (right) -->
            <div class="card-footer">
                <div class="col-lg-4">
                    <div class="btn-group w-100 btn-lg">
                        @if (Model.IslemTuru == IslemTuru.Insert)
                        {
                            <button type="submit" class="btn btn-success col fileinput-button" value="Teklif Oluştur">
                                <i class="fas fa-plus"></i>
                                <span>Müşteri Kaydı Oluştur</span>
                            </button>
                        }
                        else if (Model.IslemTuru == IslemTuru.Update)
                        {
                            <button type="submit" class="btn btn-warning col cancel" value="Güncelle" id="btn_update">
                                <i class="fas fa-sync"></i>
                                <span>Güncelle</span>
                            </button>
                            <button type="button" class="btn btn-primary col start" id="btn_saveas">
                                <i class="fas fa-clone"></i>
                                <span>Farklı Kaydet</span>
                            </button>
                        }
                        else if (Model.IslemTuru == IslemTuru.Delete)
                        {
                            <button type="submit" class="btn btn-danger col fileinput-button" value="SİL" id="btn_delete">
                                <i class="fas fa-trash"></i>
                                <span>Müşteriyi SİL</span>
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!--/. Üst Kısım-->
@section _Scripts 
    {
    <script>
        //Adı ve kodu büyük yazmak için
        $('#customername').keyup(function () {
            this.value = this.value.toUpperCase();
        });
        $('#code').keyup(function () {
            this.value = this.value.toUpperCase();
        });

    </script>
    }