
@model Prkn.UI.Web.Models.ViewModels.MediaModel


@{
    ViewBag.Title = Model.HeaderTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section _HeaderCSS
    {
    <!--DropZone CSS-->
    <!-- <link href="~/Content/plugins/dropzone-5.7.0/dist/min/dropzone.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="~/Content/plugins/dropzone/min/dropzone.min.css">
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">@Model.FileNameOfferCode &nbsp;-&nbsp;@Model.FileNameVerCode</h2>
    </div>
    <!-- /.card-header -->
    <div class="card-body">

        <h1>@Model.OfferName</h1>
        <br />
        <hr />
        <br />

        @*
        <div class="row">
            <div class="col-md-12">

                <div id="actions" class="row">
                    <div class="col-lg-6">
                        <div class="btn-group w-100">
                            <span class="btn btn-success col fileinput-button">
                                <i class="fas fa-plus"></i>
                                <span>Add files</span>
                            </span>
                            <button type="submit" class="btn btn-primary col start">
                                <i class="fas fa-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning col cancel">
                                <i class="fas fa-times-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center">
                        <div class="fileupload-process w-100">
                            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Seçilen dosyaların Alt taraftaki tablosu-->
                <div class="table table-striped files" id="previews">
                    <div id="template" class="row mt-2">

                        <div class="col-auto">
                            <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                        </div>
                        <div class="col d-flex align-items-center">
                            <p class="mb-0">
                                <span class="lead" data-dz-name></span>
                                (<span data-dz-size></span>)
                            </p>
                            <strong class="error text-danger" data-dz-errormessage></strong>
                        </div>
                        <div class="col-4 d-flex align-items-center">
                            <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div class="col-auto d-flex align-items-center">
                            <div class="btn-group">
                                <button class="btn btn-primary start">
                                    <i class="fas fa-upload"></i>
                                    <span>Start</span>
                                </button>
                                <button data-dz-remove class="btn btn-warning cancel">
                                    <i class="fas fa-times-circle"></i>
                                    <span>Cancel</span>
                                </button>
                                <button data-dz-remove class="btn btn-danger delete">
                                    <i class="fas fa-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.row -->
        *@
        @using (@Html.BeginForm(Model.FromRoute, Model.FromController, FormMethod.Post,
     new { enctype = "multipart/form-data" }))
        {
            if (TempData["Message"] != null)
            {

                <p style="font-family: Arial; font-size: 16px; font-weight: 200; color: red">@TempData["Message"]</p>
            }
            <table>
                <tr>
                    <td style="padding-bottom: 5px" colspan="6">

                        <h2></h2>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td style="width: 50px;">
                        <b>File:</b>
                    </td>
                    <td>
                        <input type="file" name="files" id="files" multiple="multiple" required />
                    </td>
                    <td>
                        <button type="submit" class="btn btn-info" name="submit">Yükle &nbsp;<i class="fas fa-upload"></i></button>
                    </td>
                </tr>
            </table>

            @Html.HiddenFor(model => model.Id);
            @Html.HiddenFor(model => model.FileNameOfferCode);
            @Html.HiddenFor(model => model.FileNameVerCode);
        }
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="example2" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Dosya Adı</th>
                            <th>Boyutu</th>
                            <th>Türü</th>
                            <th>Yüklenme Tarihi</th>
                            <th align="center">İNDİR</th>
                            <th align="center">SİL</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.ObjFile1.Count == 0)
                        {
                            <tr>
                                <td class="sorting_1">Klasörde hiç dosya bulunamadı.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                        @foreach (var item in Model.ObjFile1)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.File)</td>
                                <td>@Html.DisplayFor(modelItem => item.Size)</td>
                                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                <td>@Html.DisplayFor(modelItem => item.UploadDate)</td>


                                <td align="center">
                                    <a href="@Url.Action("Download", Model.FromController, new { fileName = item.File, path = Model.FileNameOfferCode + "/" + Model.FileNameVerCode })" type="button" class="btn btn-primary">
                                        &nbsp;&nbsp;&nbsp;<i class="fas fa-download"></i>&nbsp;&nbsp;&nbsp;
                                    </a>
                                </td>

                                <td align="center"><a href="#" type="button" class="btn btn-danger disabled">&nbsp;&nbsp;&nbsp;<i class="fas fa-trash"></i>&nbsp;&nbsp;&nbsp; </a></td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>


    </div>

    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- /. İçerikler Buraya-->
<script type="text/javascript">

    $(document).ready(function () {
        //  document.getElementById("mydropzone").className = "dropzone";
     //   document.getElementById("btndownload").innerHTML = "<i class='fas fa - download'></i>";
                //Burda asenkron olarak controllerdaki methodumuzu çalıştırıp geri dönen değeri alıyoruz.
        @*$.ajax({
            method: "GET",
            url: '@Url.Action("OfferModalReadData", "Teklif")' + '/' + getId
            }).done(function (result) {


            //Burda Controller tarafındaki methoddan dönen  değerleri resulın içinden okuyoruz.
                console.log(result);


      //      document.getElementById("offerCode").innerText = result.Code;
     //       document.getElementById("offerVersiyon").innerText = result.VerCode;
       //     document.getElementById("offerName").innerText = result.Name;

            });*@


    });

</script>
@section _Scripts
{
    <script type="text/javascript">
        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false;

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        });

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
        });

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
        });

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1";
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0";
        });

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
        };
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true);
        };
      // DropzoneJS Demo Code End
    </script>
}